.header-bar {
  padding: 12px 24px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.btn-view {
  background-color: #3498db !important;
  color: white !important;
}

.btn-edit {
  background-color: #f1c40f !important;
  color: white !important;
}

.btn-delete {
  background-color: #e74c3c !important;
  color: white !important;
}



.btn-danger {
  background-color: #e74c3c !important;
  color: white !important;
}

.table th, .table td {
  vertical-align: middle !important;
  text-align: center;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #001f8d;
  color: white;
  text-align: center;
  padding: 12px 0;
}
th i {
  cursor: pointer;
}
